/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2015, 8:11:51 AM
    Author     : Student
*/

/*******************************************************************************
ALL PAGES
*******************************************************************************/
body{
    color: white;
    background-color: #D40F39;
    background-image: url('../BP-images/flower.jpg');
   background-repeat:repeat ;
   width: 1366px;
   
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    
}
h1{
    font-size: 4em;
    color: white;
    margin:  auto auto;
    padding:  auto auto auto 15px;
    text-align: center;
}   
div{
    display:inline;
}

.logo{
   
    display: inline;
    margin: auto  auto;
    padding: auto auto;
   width: 1366px;
   height:auto;
}
header {
    text-align: center;
}
a {
    text-decoration: none;
    color:white;
}
/*******************************************************************************
DROPDOWN 
*******************************************************************************/
.btn-primary {
    color: black;
    background-color:#E3E3E3;
    border-color: black;
    height:50px;
    width:50px;
}

.dropdown open{
     color: black;
    background-color:#E3E3E3;
    border-color: black;
}

.dropdown{
   float: left;
}

/*******************************************************************************
INDEX PAGE
*******************************************************************************/
.food-pic img {
    width:500px;        
   padding-top: 25px;
}

.carousel-inner  .item  img
  .carousel-inner  .item a  img {
      width: 900px;
      /*padding-left: 500px;*/
      
      height:500px;
  }
/*******************************************************************************
MENU PAGE
*******************************************************************************/
.menu-text{
    font-size: 4em;
    color: white;
    margin:  auto auto;
    padding-bottom: 30px;
    
}
img.menu{
    display:block;
    margin:  auto auto;
    padding-bottom: 15px;
}
/*******************************************************************************
LOCATION PAGE
*******************************************************************************/
iframe{
    width:1000px;
    height:500px;
    margin: auto auto;
    padding: auto auto;   
    text-align:center;
    margin-top: 50px;
}

h2{
    padding-top: 20px;
}

/*******************************************************************************
CONTACT PAGE
*******************************************************************************/
.form{
    margin:auto auto;
    text-align:center;
    display: block;
    padding:5px 0;
     color: white;
    
}

label{
    float: next;
    width:150px;
    padding-right: 12px;
    margin-top: 15px;
    clear:left;
    padding-bottom: -5px;
}
input, textarea{
    margin-top: 15px;
}
.form-legend{
    margin:auto auto;
    text-align:center;
    display: block;
    padding:5px 0;
    color: white;
    font-size: 2em;
    
}
.submit{
    color:black;
}
/*******************************************************************************
NAVIGATION
*******************************************************************************/
nav {
    text-align: right;
    padding: 50px 0 0 0;
    margin: 0 0 0 0; 
    font-size: 1.5em;
    
}


.selected{
        color:white;
    }
    
nav ul {
    list-style: none;
    padding: 0px 0;
    margin: 0 0px;
}

nav li {
    display: inline;
    padding: 0 30px; 
}

nav a{
    font-weight: 800;
    padding-top: 15px; padding-bottom:15px; 
    padding-right: 10px;  padding-left:10px;
}
/*******************************************************************************
Quire
*******************************************************************************/

@media screen and (max-width:600px)
{
    /*Nav Bar*/
    nav{
    background: none;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
    }
    
    #logo{
        float: left;
        text-align: left;
        width: 45%;
       
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 1.75em;
        padding-bottom: 30px;
        margin-top: 30px;
    }
    
    
   
}